@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cyberpunk";
  src: url("$assets/Cyberpunk-Regular.woff2") format("woff2");
}

@layer base {
  html {
    scrollbar-gutter: stable;
    overflow-y: auto;
  }
}

@layer components {
  .error-text {
    @apply uppercase italic text-red;
  }

  .cyber-text {
    @apply font-[Cyberpunk] text-yellow;

    text-shadow: 0.2ex 0.2ex 0 color-mix(in srgb, theme("colors.cyan.DEFAULT") 90%, transparent);
  }

  .hover-glow:hover,
  .hover-glow:focus {
    filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.4));
  }
}
